
.footer__bar {
	text-align: center;
	display: block;
	background: white;
	padding-top: $column-gutter;

	ul li {
		display: inline;
		margin-left: 10px;
		font-size: .7*$base-font-size;
		text-transform: uppercase;

		a {
			@include opacity(0.5);
			@include transition-property(opacity);
			@include transition-duration(0.2s);

			img {
				vertical-align: middle;
			}

			&:hover {
				@include opacity(1);
			}
		}
	}
}

.footer {

	@media #{$small} {
		text-align: left;
		width: 100%;
	}

	.footer__block {
		h5 {
			text-transform: uppercase;
		}
		.icon {
			font-size: 0.9em;
			vertical-align: top;
		}
		p {
			font-size: .8*$base-font-size;
			.icon {margin-right:0.5*$column-gutter}
		}

		padding: 20px;
	}

	.footer__block + .footer__block {
		margin-left: -10px;
	}

	.badge img {
		margin-top: 2*$column-gutter;
	}
	@extend .footer__bar;
}


#footer {
	@extend .footer;
}