@import "mixins/imageEffects";

.cli {
	font-family: monaco,Consolas,"Liberation Mono",Courier,monospace;
	color: #009601;
	background: #121315;
	padding: 5px;
}

.name {
	background-color: #1F1E1E;
	height: 80px;
	padding-top: 26px;
	padding-bottom: 26px;
	text-align: center;
}

.page-content {
	background: $white;
	margin-left: 0 !important;
	margin-right: 0 !important;
	max-width: 1000px;

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.button--outline {
		border: 1px solid $black;
		color: $black;
		background: transparent;
	}

	.button--outline:hover {
		border: 1px solid $black;
		color: $black;
		background: rgba(0,0,0,0.05);
	}

	.arrow-movedown {
		position: relative;
	 	z-index: 10;
	 	top: 25px;

	 	-webkit-animation: pulsate 1.5s ease-in-out infinite;
		-moz-animation: pulsate 1.5s ease-in-out infinite;
	}

	.page-content__header {
		background: #ebeef3;
		border-bottom: 1px solid $secondaryColor;

		.logo-header {
			margin-top: 1.5*$column-gutter;
			width: 55px;
			@media #{$small} {width: 65px;}
		}

		h1 {
			margin-top: 0;
			margin-bottom: 0;
			strong {
				color: $secondaryColor;
			}
		}

		h3{
			color: rgba(0,0,0,0.75)
		}

		.header_img_holder {
			margin-left: auto;
			margin-right: auto;
			background-size: 100% 100%;

			max-width: 300px;
			background-image: image-url("phone.jpg");


			&:after {
				content: "";
				padding-top: (1088/762)*100%;
				display: block;
			}

			position: relative;
		}

		@media #{$small} {

			h3 {margin-bottom: $column-gutter;}

			.header_img_holder {
				max-width: 600px;
				background-image: image-url("tablet.jpg");

				&:after {
					content: "";
					padding-top: (814/870)*100%;
					display: block;
					@include opacity(0);
				}

			}
		}

		@media #{$medium} {

			h1 {margin-bottom: 0;}

			.header_img_holder {
				max-width: 1200px;
				background-image: image-url("laptop.jpg");

				&:after {
					content: "";
					padding-top: (629/1200)*100%;
					display: block;
					@include opacity(0);
				}
			}
		}

		@media #{$large} {
			h3 {margin-bottom: $column-gutter;}
		}


		.page-content__header__carousel {
			position: relative;
			max-width: 1200px;
			margin: {
				left: auto;
				right: auto;
			}
			.header-slideshow {
			top: 101px;
			left: 65px;
				position: absolute;
			}
		}

		.header-slideshow {

			.orbit-container {
				margin-left: auto;
			    margin-right: auto;
			    top: 26px;
			    max-width: 1091px;
				.orbit-prev,.orbit-next,.orbit-slide-number,.orbit-timer {
					display: none;
				}
			}

			.orbit-bullets {
				max-width: 200px;
				margin: auto;
				top: 35px;
				z-index: 98;
				text-align: center;

				li {
					float: none;
					display: inline-block;
					background: $white;
					border-color: $secondaryColor;
					&.active {
						background: $secondaryColor;
						border-color: transparent;
					}
				}

				li:hover {
					cursor: hand;
					cursor: pointer;
				}
			}

		}


	}

	.page-content__signup {
		background-color: $white;
		border-top: 1px solid $contentBorderColor;
		border-bottom: 1px solid $contentBorderColor;
		@include single-box-shadow(rgba(0,0,0,0.1), 0px, -5px, 15px, 0px, false);
		.button {
			margin-top: 3*$column-gutter;
			margin-bottom: $column-gutter;
		}

		.signup_list {
			margin-left: auto;
		    margin-right: auto;
		    margin-bottom: $column-gutter;
			text-align: left;
			font-size: 1.1em;
			border: 1px solid $contentBorderColor;
			max-width: 350px;
			ul {
				list-style: none;
				margin-bottom: 0;
				li {
					padding: 0.5*$column-gutter;
					border-top: 1px solid $contentBorderColor;
					&.signup-list__header {
						background: $black;
						color: $white;
						border-top: none;
						text-align: center;
					}

				}
			}

			.icon-passed {
				color: $successColor;
				margin-right: 0.5*$column-gutter;
			}
		}

	}

	.page-content__signup--bottom {
		background-color: #f8f8f8;
		padding-top: 4*$column-gutter;
		padding-bottom: 3*$column-gutter;
		// border-top: 1px solid $secondaryColor;
		h3 {margin-bottom: $column-gutter}
	}

	%uspblock {
		.row {
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 140px;
			padding-left: $column-gutter;
			padding-right: $column-gutter;
		}

		h2 {
			font-weight: 200;
		}

		p {
			@include opacity(0.8);
			line-height: 2em;
			margin-left: .1*$column-gutter;
		}

		overflow: hidden;
	}

	.page-content__404 {
		@extend %uspblock;
		position: relative;
		h1 {
			font-size: 10em;
			margin-bottom: 0;
			color: $alertColor;
		}

		.arrow-movedown {
			margin-bottom: 2*$column-gutter;
		}

		ul {
			list-style: none;
			line-height: 2em;
			position: relative;
			z-index: 1
		}

		&:before {
	        @extend [class^="icon-"]:before;
	        @extend .icon-deploy-failed:before;
	        font-size: 1000px;
	        position: absolute;
	        color: rgba(0,0,0,0.02);
	        right: 20%;
	        top: -200px;
	    }
	}

	.page-content__uspblock_velocity {
		@extend %uspblock;
		background: $black;
		padding-top: 80px;
		margin-bottom: 80px;
		color: $white;
		border-bottom: 1px solid $contentBorderColor;
		h2 {color: $white;}
		em {
			padding-left: 5px;
			padding-right: 5px;
			background: $successColor;
			color: $white;
		}
		@include background-image(linear-gradient(top, #221f1f 0%, $black 100%));

		.velocity_image {
			.velocity_meter {
				width: auto;

				@media #{$small} {
					margin-top: 5*$column-gutter;
				}

				@media #{$medium} {
					margin-top: 1.5*$column-gutter;
				}

			}

			.velocity_pointer {
				position: absolute;
				left: 50%;
				margin-left: -8px;
				bottom: -150px;
				@include rotate(-90deg);

				-webkit-animation: rotating 6s ease-in-out infinite;
				-moz-animation: rotating 6s ease-in-out infinite;

			}
		}
	}

	.page-content__uspblock_cloud {
		@extend %uspblock;
		background: $contentBackgroundColor;

	    &:before {
	        @extend [class^="icon-"]:before;
	        @extend .icon-deploy-finished:before;
	        font-size: 1000px;
	        position: absolute;
	        color: #ededed;
	        right: 25%;
	        top: -150px;

	    }
	}

	.page-content__uspblock_cli {
		@extend %uspblock;
		background: $white;
		color: $black;

		.button {
			margin-right: $column-gutter;
			i{font-size: 0.9em;}
		}

		.blinkAnimation {
			width: 50px;
			height: 20px;
			background-color: #121315;

			position: absolute;
			top: 90%;
			left: 10%;

			-webkit-animation: blink .5s ease-in-out infinite;
			-moz-animation: blink .5s ease-in-out infinite;
		}
	}

	.page-content__uspblock_integrated {
		@extend %uspblock;
		background: $white;
		color: $black;
	}

	.page-content__uspblock_terminalpower {
		@extend %uspblock;
		background: $white;
		color: $black;
		border-bottom: 1px solid $contentBorderColor;
		// h2 {color: $white;}

		img {
			// @include single-box-shadow(black, 0px, 3px, 17px, -6px, false);
			margin-bottom: $column-gutter;
		}
	}

	.page-content__uspblock_openplatform {
		@extend %uspblock;
		background: $white;
		color: $black;
		border-bottom: 1px solid $contentBorderColor;
		.row .row {padding:$column-gutter 0;}
	}

	.page-content__uspblock_languages {
		@extend %uspblock;
		.row {
			max-width: 640px;
			float: right;
		}
		border-top: 1px solid $contentBorderColor;
		float: right;
		background: $white;

		img {
			width: 85%;
		}
	}

	.page-content__uspblock_social {
		@extend %uspblock;
		.row {
			max-width: 640px;
			float: left;
			padding-left: $column-gutter;
			@media #{$small} {
				padding-left: 2*$column-gutter;
			}
		}
		background: #ebeef3;

		img {
			left: 5%;
			top: -20%;
			@media #{$small} {
				top: -40%;
			}
		    position: absolute;
		}

	}

	.page-content__uspblock_testimonial {
		@extend %uspblock;
		background: $white;
		padding: 0 !important;

		.testimonial-slideshow {
			margin-top: 0;
			padding: 0;
			padding-bottom: 70px;
			max-width: 1400px;

			.orbit-container {
				margin-left: auto;
			    margin-right: auto;
		    	background: $white;
				.orbit-prev,.orbit-next,.orbit-slide-number,.orbit-timer {
					display: none;
				}

			}

			.page-content__uspblock__testimonial__text {
				padding: 20px;
				text-align: center;

				@media #{$small} {
					background: rgba(255,255,255,0.8);
					position: absolute;
					bottom: 0;
					margin: 20px;
				}

				p {
					color: $black;

					@media #{$small} {
						line-height: 26px;
						font-size: 16px;
					}
					@media #{$medium} {
						line-height: 30px;
						font-size: 20px;
					}
				}

				em {
					color: rgba($black, 0.8);
					font-size: 16px;
				}

				i {
					font-size: 2em;
					color: rgba($black, 0.6);
					position: relative;
				    top: 10px;
				    line-height: 10px;
				}
			}

			.orbit-bullets {
				max-width: 200px;
				margin: auto;
				z-index: 98;
				text-align: center;

				li {
					float: none;
					display: inline-block;
					background: $white;
					border-color: $secondaryColor;
					&.active {
						background: $secondaryColor;
						border-color: transparent;
					}
				}

				li:hover {
					cursor: hand;
					cursor: pointer;
				}
			}
		}
	}

	.page-content__uspblock_responsive {
		@extend %uspblock;
		background: $white;
		padding: 0 !important;

		.row {
			margin-bottom: 140px;
			padding: 0;
			max-width: 1400px;
		}

		img {
			margin-bottom: 2*$column-gutter;
		}

		p {
			padding: $column-gutter;
		}

		hr {
			margin-top: 2*$column-gutter;
		}

		// .page-content__uspblock__testimonial__text {
		// 		padding: 20px;
		// 		text-align: left;

		// 		@media #{$small} {
		// 			background: rgba(255,255,255,0.8);
		// 			position: absolute;
		// 			top: 20px;
		// 			margin-left: 20px;
		// 		}

		// 		p {
		// 			margin-bottom: 0;
		// 			color: $black;
		// 			line-height: 1.6em;

		// 			@media #{$small} {
		// 				font-size: 16px;
		// 			}
		// 			@media #{$medium} {
		// 				font-size: 20px;
		// 			}
		// 		}

		// 		em {
		// 			color: rgba($black, 0.8);
		// 			font-size: 16px;
		// 		}

		// 		i {
		// 			font-size: 2em;
		// 			color: rgba($black, 0.6);
		// 			position: relative;
		// 		    top: 10px;
		// 		    line-height: 10px;
		// 		}
		// 	}

	}

	.page-content__uspblock_end {
		@extend %uspblock;
		background: #677a9b;
		color: $white;
		h2,h3 {color: $white;}
		h2{margin-top: $column-gutter;}
		h3{margin-bottom: $column-gutter;}

		.row {
			margin-top: 0;
		}

		.columns {
			margin-top: 2*$column-gutter;

			padding-left: $column-gutter;
			padding-right: $column-gutter;
			@media #{$small} {
				padding-left: 0.5*$column-gutter;
				padding-right: 2*$column-gutter;
			}

			text-align: center;
			p {
				text-align: left;
				color: rgba(255,255,255,.75);
			}

			a {
				color: rgba(255,255,255,0.75);
				text-decoration: underline;
				text-align: left;
			}

			a:hover { color: rgba(255,255,255,1);}
		}


	}

	.page-content__uspblock_footer {
		@extend %uspblock;
		.row {margin-top: 0;}
		background: white;
	}
}
