@import "mixins/imageEffects";

.name {
	background-color: #1F1E1E;
	height: 80px;
	padding-top: 26px;
	padding-bottom: 26px;
	text-align: center;
}

.page-content {

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.page-content__header {
		margin-top: -20px;
		background: $contentBackgroundColor;
		h1 {
			margin-top: $column-gutter;
			strong {
				color: $secondaryColor;
			}
		}
		img {
			margin-top: $column-gutter;
			margin-bottom: -3px;

			position: relative;

			-webkit-animation: movein 2s ease-in-out;
			-moz-animation: movein 2s ease-in-out;
		    -webkit-animation-fill-mode: forwards;
		    -moz-animation-fill-mode: forwards;
		}
	}

	.page-content__signup {
		background-color: $white;
		border-top: 1px solid $contentBorderColor;
		border-bottom: 1px solid $contentBorderColor;
		@include single-box-shadow(rgba(0,0,0,0.1), 0px, -5px, 15px, 0px, false);
		.button {
			margin-top: 2*$column-gutter;
			margin-bottom: 30px;
		}

		.arrow-movedown {
			position: relative;
		 	z-index: 10;
		 	margin-bottom: 2.5*$column-gutter;
		 	top: 25px;

		 	-webkit-animation: pulsate 1.5s ease-in-out infinite;
			-moz-animation: pulsate 1.5s ease-in-out infinite;
		}
	}

	%uspblock {
		.row {
			max-width: 1280px;
			margin-left: auto;
			margin-right: auto;

			margin-top: 4*$column-gutter;
			margin-bottom: 4*$column-gutter;
		}
		border-bottom: 1px solid $contentBorderColor;

		h2 {
			@include opacity(0.9);
		}
	}

	.page-content__uspblock_cloud {
		@extend %uspblock;
		background: $contentBackgroundColor;

	}

	.page-content__uspblock_integrated {
		@extend %uspblock;
		background: #fcb543;
		color: $white;
		h2 {color: $white;}
	}

	.page-content__uspblock_social {
		@extend %uspblock;
		background: #ebeef3;
	}

	.page-content__uspblock_responsive {
		@extend %uspblock;
		background: #f6f6f6;
	}
	.page-content__uspblock_end {
		@extend %uspblock;
		background: #677a9b;
		color: $white;
		h2,h3 {color: $white;}
		h2{margin-top: $column-gutter;}
	}
}
