<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="wercker Hosted Continuous Integration and Delivery Platform">
  <meta name="keywords" content="wercker, continuous delivery, continuous integration, cloud">
  <meta name="author" content="wercker">

  <title>Welcome to wercker</title>

  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- Included CSS Files -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/site.css" media="all">
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  mixpanel.init("0a761e74a920a4762015b91966058590");</script><!-- end Mixpanel -->

  <script type="text/javascript">
  mixpanel.track_links(".page-content__signup a", "Click signup button", {'referrer': document.referrer });
  mixpanel.track_links(".page-content__signup--bottom a", "Bottom signup button", {'referrer': document.referrer });
  </script>


</head>
<body>
  <script src="/javascripts/lib/jquery.js"></script>
  <script src="/javascripts/lib/custom.modernizr.js"></script>
  <script src="/javascripts/lib/foundation/foundation.js"></script>
  <script src="/javascripts/lib/foundation/foundation.topbar.js"></script>
  <script src="/javascripts/lib/foundation/foundation.section.js"></script>
  <script src="/javascripts/lib/foundation/foundation.orbit.js"></script>


  <script>
    $(function(){
      $(document).foundation();
    })
  </script>
 <div id="root">

    <div class="row">

      <!-- NAVIGATION -->
      <div class="navigation">
        <div class="sticky">
          <nav class="top-bar">
            <ul class="title-area row hide-for-medium-up">
              <li class="small-6 columns logo name">
                  <a href="/#"><img src="/images/logo-x2.png" width="100px" alt="wercker"/></a>
              </li>
              <li class="small-6 columns toggle-topbar menu-icon"><a href="#" class="right">
                <span></span></a>
              </li>
            </ul>
            <section class="top-bar-section">
              <div class="show-for-medium-up logo left">
                <a href="/#"><img src="/images/logo_black.png" width="100px" alt="wercker"/></a>
              </div>
              <ul class="right">
              	<li><a href="https://app.wercker.com/#explore" target="_blank">Explore wercker</a></li>
                <li class="divider hide-for-medium-up"></li>
                <li><a href="http://blog.wercker.com" target="_blank">Blog</a></li>
                <li class="divider hide-for-medium-up"></li>
                <li><a href="http://devcenter.wercker.com" target="_blank">Dev Center</a></li>
                <li class="divider hide-for-medium-up"></li>
                <li><a href="https://app.wercker.com/users/new" target="_blank">Register</a></li>
                <li class="divider hide-for-medium-up"></li>
                <li><a href="https://app.wercker.com/sessions/new" class="signin" target="_blank"><i class="icon-sign-out"></i> Sign in</a></li>
              </ul>
            </section>
          </nav>
        </div>
      </div>


      <div class="row page-content">
		<div class="small-12 large-12 columns text-center page-content__header">
			<img class="logo-header" src="images/logo_header.png" alt="wercker" width="65px"/>
			<h1>The open <strong>delivery platform</strong></h1>
		    <h3>Test and deploy your applications with ease. <strong>Together.</strong></h3>
			<div class="arrow-movedown show-for-large"><img src="images/move_down@2x.png" alt="move down" width="77px"/></div>
			<div class="arrow-movedown show-for-small"><img src="images/move_down@2x.png" alt="move down" width="77px"/></div>

			<div class="page-content__header__carousel">
				<div class="header_img_holder">
				</div>

				<div class="row header-slideshow show-for-large-up">
					<ul data-orbit>
					  <li>
					    <img src="images/desktop_screenshot1.jpg" />
					  </li>
					  <li>
					    <img src="images/desktop_screenshot2.jpg" />
					  </li>
					  <li>
					    <img src="images/desktop_screenshot3.jpg" />
					  </li>
					</ul>
				</div>

			</div>
		</div>

		<div class="small-12 large-12 columns text-center page-content__signup">
			<a href="https://app.wercker.com/users/new" target="_self" class="button radius large secondary">SIGN UP FOR FREE</a>
			<div class="signup_list">
				<ul>
					<li class="signup-list__header">WHILE IN BETA</li>
					<li><i class="icon icon-passed"></i> unlimited free repositories</li>
					<li><i class="icon icon-passed"></i> 2 concurrent builds</li>
					<li><i class="icon icon-passed"></i> max 25 minutes per build</li>
					<li><i class="icon icon-passed"></i> unlimited collaborators</li>
          <li><i class="icon icon-passed"></i> no credit card required</li>
				</ul>
			</div>
			<div class="arrow-movedown"><img src="images/move_down@2x.png" alt="move down" width="77px"/></div>
		</div>

	    <div class="small-12 large-12 columns page-content__uspblock_velocity">
		    <div class="row">

		        <div class="small-12 large-5 columns">
		          <h2>Increasing <em>#developervelocity</em></h2>
		          <p>
                Wercker is a hosted continuous delivery platform that helps developers reduce risk and eliminate waste by testing and deploying their code often.
		          </p>
		           <p>Wercker enables you and your team to increase the velocity of application development by testing and deploying your code often. All in a hassle free way.</p>

		        </div>
				<div class="small-12 large-5 pull-1 columns velocity_image">
					<img src="images/gauge_pointer.png" class="velocity_pointer" alt="velocity" width="15px"/>
					<img src="images/gauge_meter.png" class="velocity_meter" alt="velocity" width="500px"/>
				</div>
	        </div>
	    </div>

<!-- 		<div class="small-12 large-12 columns page-content__uspblock_cloud">
			<div class="row">
				<div class="small-12 large-6 columns">
				</div>
				<div class="small-12 large-6 columns">
					<h2>In the cloud</h2>
					<p>
            We want you to focus on your code and the application that you are building and not on tedious install processes or management of your delivery systems.
					</p>
					<p>
            Wercker is hosted in the cloud, so there is no need to download any software or buy your own hardware in order to set up your own continuous delivery pipeline.
						In fact it takes under a minute to set up your project and use wercker.
					</p>
				</div>

			</div>
		</div> -->

		<div class="small-12 large-12 columns page-content__uspblock_integrated">
			<div class="row">

				<div class="small-12 large-6 columns push-1 integration_velocity">
					<!-- <img src="images/wercker_integration.gif" alt="wercker" width="450px"/> -->
				</div>
				<div class="small-12 large-6 columns">
					<h2>Integrated</h2>
					<p>
						Wercker integrates with your favorite developer platforms out there such as GitHub and Bitbucket.
					</p>
					<p>
						When you are ready to deploy your application, wercker enables you to deliver your application to cloud platforms like Heroku, OpenShift and Amazon Web Services.
					</p>
				</div>

			</div>
		</div>

	    <div class="small-12 large-12 columns page-content__uspblock_terminalpower">
	      <div class="row">

	        <div class="small-12 large-4 columns">
				<img src="images/cli.jpg" alt="wercker cli" width="395px"/>
	        </div>
	        <div class="small-12 large-4 columns end">
	        	<h2>Terminal Power Included</h2>

	          <p>
	            As developers ourselves, we spend most our time in the terminal. Wercker comes with a command line interface so you can build and deploy from the comfort of your own terminal.
	          </p>
	          <p>
	            Just run <span class="cli">pip install wercker</span> and you have the <span class="cli">wercker</span> command installed.
	          </p>
	        </div>

	         <div class="small-12 large-6 columns">
	          <h2>Open platform</h2>
	          <p>
	            As developers ourselves, we spend most our time in the terminal. Wercker comes with a command line interface so you can build and deploy from the comfort of your own terminal.
	          </p>
	        </div>

	        <div class="small-12 large-6 columns">
				<img src="images/explore.jpg" alt="wercker explore" width="466px"/>
	        </div>

	      </div>
	    </div>

		<!-- <div class="small-12 large-12 columns page-content__uspblock_openplatform">
	      <div class="row">

	        <div class="small-12 large-6 columns">
	          <h2>Open platform</h2>
	          <p>
	            As developers ourselves, we spend most our time in the terminal. Wercker comes with a command line interface so you can build and deploy from the comfort of your own terminal.
	          </p>
	        </div>

	        <div class="small-12 large-6 columns">
				<img src="images/explore.jpg" alt="wercker explore" width="466px"/>
	        </div>
	      </div>
	    </div>
 -->
<!-- 		<div class="small-12 large-6 columns page-content__uspblock_languages">
			<div class="row">
				<div class="small-12 large-12 right columns">
					<h2>Programming Environments</h2>
		    	        <p>
			            Wercker offers support for Node.js, Python and Ruby but we're working hard on adding other languages.
						</p>
						<img src="images/languages.jpg" alt="Supported languages" width="320px"/>
			     		<p>
			            Wercker also allows you to test your code and interact with popular services such as Redis and MongoDB but also RabbitMQ and of course MySQL and Postgres.
					</p>
				</div>
			</div>
	    </div>

		<div class="small-12 large-6 columns page-content__uspblock_social">
			<div class="row">
				<img src="images/user_cloud.jpg" alt="user cloud"/>
				<div class="small-12 large-12 left columns">
					<h2>Social</h2>
					<p>
						 Applications are better developed together and thus wercker incorporates several cooporative features such as an activity feed that showcases who in your team broke the build or deployed what to which environment.
					</p>
					<p>
						You are able to invite collaborators to your projects thus improving cooperation, all leading to better applications.
					</p>
				</div>
			</div>
	    </div> -->

		<div class="small-12 large-12 columns page-content__uspblock_responsive">
			<div class="row">
				<div class="small-12 large-4 columns page-content__uspblock__text">
					<h2>Support for multiple devices</h2>
	     	        <p>
	     	          With millions of screens out there, it is important that web applications work across a broad range of devices.
					</p>
				</div>
				<div class="small-12 columns page-content__uspblock__image">
					<!-- <img src="images/responsive.jpg" width="800px" alt="responsive"/> -->
				</div>
			</div>
		</div>

		<div class="small-12 large-12 columns text-center page-content__signup--bottom">
			<h3>Setup your account and start delivering your applications</h3>
			<a href="https://app.wercker.com/users/new" target="_self" class="button radius large secondary">
				SIGN UP FOR FREE
			</a>
		</div>

		<div class="small-12 large-12 left columns page-content__uspblock_end">
			<h2 class="text-center">Did you know?</h2>
			<div class="row">
				<div class="small-12 large-4 columns">
					<img src="images/heroku_logo.png" width="75px"/>
					<h3>Heroku add-on</h3>
			          <p>
          Wercker has an <a href="https://addons.heroku.com/wercker">add-on</a> available on the Heroku Marketplace. Making <a href="http://devcenter.wercker.com/articles/deployment/heroku.html">deployment</a> to Heroku even more seamless.
					</p>
					<a href="https://addons.heroku.com/wercker" target="_blank">Heroku marketplace</a>
				</div>
				<div class="small-12 large-4 columns">
					<img src="images/devcenter_icon.png" width="75px"/>
					<h3>Devcenter</h3>
          <p>
          Our rich developer center offers guidance and in-depth tutorials on how to get the most out of wercker.
					</p>
					<a href="http://devcenter.wercker.com" target="_blank">Dev Center</a>
				</div>
				<div class="small-12 large-4 columns end">
					<img src="images/openshift_logo.png" width="75px"/>
					<h3>OpenShift</h3>
          <p>
          Wercker integrates with Red Hat's OpenShift, a powerful platform-as-a-service to host and scale your applications.
					</p>
					<a href="devcenter.wercker.com/articles/deployment/openshift.html" target="_blank">OpenShift</a>
				</div>
			</div>
		</div>

        <div class="small-12 large-12 columns footer__bar hide-for-medium-up">
            <ul>
	            <li>copyright &copy;2013 wercker</li>
	<!--             <li><a href="http://beta.wercker.com/about">about</a></li>
	            <li><a href="http://beta.wercker.com/jobs">jobs</a></li> -->
	            <li><a href="mailto:pleasemailus@wercker.com">contact &amp; support</a></li>
	            <!-- <li class="footer__label"><span>find us on: </span></li> -->
		        <li><a href="https://angel.co/wercker"><img src="/images/icon_angellist.jpg" alt="twitter" width="80"/></a></li>
		        <li><a href="https://twitter.com/wercker"><img src="/images/icon_twitter.jpg" alt="twitter" width="20"/></a></li>
		        <li><a href="https://facebook.com/wercker"><img src="/images/icon_facebook.jpg" alt="facebook" width="20"/></a></li>
            </ul>
        </div>

		<div class="small-12 large-12 columns show-for-medium-up page-content__uspblock_footer">
		    <div class="footer row">
		        <div class="large-4 columns footer__block">
		          <h5><i class="icon icon-feed"></i> Blog</h5>
		          <hr></hr>
                  <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/07/10/deploying-golang-to-heroku.html"> Build, test and deploy a Go application to Heroku</a></p>
                  <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/07/10/Heroku-addon-public-beta.html"> Heroku add-on in public beta</a></p>
                  <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/07/10/Golang-on-wercker.html"> Golang with wercker</a></p>
                <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/07/07/Week-in-review-July7th.html"> Week in Review for July 7th</a></p>
                <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/07/01/Announcing-php-support.html"> Announcing PHP Support</a></p>
                <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/07/01/Werckeryml-for-rails4-heroku.html"> Wercker.yml for Rails 4, Postgres and Heroku</a></p>
              <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/06/28/Nodejs-010x-on-wercker.html"> Using Node.js 0.10.x on wercker</a></p>
              <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/06/28/Deploying-to-pypi.html"> Deploying python packages to PyPI with wercker</a></p>
              <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/06/26/Developer-contributions.html"> Developer Contributions!</a></p>
              <p><i class="icon icon-pencil"></i><a href="http://blog.wercker.com/2013/06/25/Rails4-and-wercker.html"> Rails 4 and wercker</a></p>
		        </div>
		        <div class="large-6 columns footer__block">
		          <h5>Join the Conversation</h5>
		          <hr></hr>
                    <p>
		            Feel free to email us with any questions or feedback at <a href="mailto:pleasemailus@wercker.com">pleasemailus@wercker.com</a></br>
		            Subscribe to the wercker blog <a href="http://blog.wercker.com/feed.xml">feed</a> and follow us on <a href="http://twitter.com/wercker">twitter</a> and <a href="https://plus.google.com/102532039826084442989/posts">Google+</a>.</br>
                    Visit our <a href="https://groups.google.com/forum/#!forum/wercker">Google Group</a> or chat to us on IRC at <a href="irc://irc.freenode.net/wercker">#wercker</a> on irc.freenode.net</br>
                    </p>
		        </div>
		        <div class="large-2 columns">
		          <div class="badge">
		          <a href="https://app.wercker.com/project/bykey/e21bb28626f9982fea6e48d6e9f7daf2"><img alt="Wercker status" src="https://app.wercker.com/status/e21bb28626f9982fea6e48d6e9f7daf2/m"></a>
		          </div>
		          <div>
			        <ul class="footer__social">

			        </ul>
		          </div>
		        </div>
		        <div class="large-12 columns footer__bar">
		          <ul>
		            <li>copyright &copy;2013 wercker</li>
	<!-- 	            <li><a href="http://beta.wercker.com/about">about</a></li>
		            <li><a href="http://beta.wercker.com/jobs">jobs</a></li> -->
		            <li><a href="mailto:pleasemailus@wercker.com">contact &amp; support</a></li>
		            <!-- <li class="footer__label"><span>find us on: </span></li> -->
			        <li><a href="https://angel.co/wercker"><img src="/images/icon_angellist.jpg" alt="twitter" width="80"/></a></li>
			        <li><a href="https://twitter.com/wercker"><img src="/images/icon_twitter.jpg" alt="twitter" width="20"/></a></li>
			        <li><a href="https://facebook.com/wercker"><img src="/images/icon_facebook.jpg" alt="facebook" width="20"/></a></li>
		          </ul>
		        </div>
		    </div>
		</div>

      </div>
    </div>
  </div>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28568056-1']);
  _gaq.push(['_setDomainName', 'wercker.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
