<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Welcome to wercker</title>

  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- Standard iPhone -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/touch-icon-iphone-114.png" />
  <!-- Retina iPhone -->
  <link rel="apple-touch-icon" sizes="114x114" href="/images/touch-icon-iphone-114.png" />
  <!-- Standard iPad -->
  <link rel="apple-touch-icon" sizes="72x72" href="/images/touch-icon-ipad-144.png" />
  <!-- Retina iPad -->
  <link rel="apple-touch-icon" sizes="144x144" href="/images/touch-icon-ipad-144.png" />

  <!-- Included CSS Files -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/site.css" media="all">

</head>
<body>
  <script src="/javascripts/lib/jquery.js"></script>
  <script src="/javascripts/lib/custom.modernizr.js"></script>
  <script src="/javascripts/lib/foundation/foundation.js"></script>
  <script src="/javascripts/lib/foundation/foundation.topbar.js"></script>
  <script src="/javascripts/lib/foundation/foundation.section.js"></script>

  <script>
    $(function(){
      $(document).foundation();
    })
  </script>
 <div id="root">

    <div class="row">

      <!-- NAVIGATION -->
      <div class="navigation">
        <div class="sticky">
          <nav class="top-bar">
            <ul class="title-area row hide-for-medium-up">
              <li class="small-6 columns logo name">
                  <a href="/#"><img src="/images/logo-x2.png" width="100px" alt="wercker"/></a>
              </li>
              <li class="small-6 columns toggle-topbar menu-icon"><a href="#" class="right">
                <span></span></a>
              </li>
            </ul>
            <section class="top-bar-section">
              <div class="show-for-medium-up logo left">
                <a href="/#"><img src="/images/logo_black.png" width="100px" alt="wercker"/></a>
              </div>
              <ul class="right">
                <li><a href="http://blog.wercker.com" class="active" target="_blank">Blog</a></li>
                <li class="divider hide-for-medium-up"></li>
                <li><a href="http://devcenter.wercker.com" target="_blank">Dev Center</a></li>
                <li class="divider hide-for-medium-up"></li>
                <li><a href="https://app.wercker.com/users/new" target="_blank">Register</a></li>
                <li class="divider hide-for-medium-up"></li>
                <li><a href="https://app.wercker.com/sessions/new" class="signin" target="_blank"><i class="icon-sign-out"></i> Sign in</a></li>
              </ul>
            </section>
          </nav>
        </div>
      </div>


      <div class="page-content">
		<div class="small-12 large-12 columns text-center page-content__header">
			<img class="logo-header" src="images/logo_header.png" alt="wercker" width="65px"/>
			<h1>The open <strong>delivery platform</strong></h1>
			<h3>Test and deploy your applications in a hassle-free way.</h3>
			<div class="arrow-movedown show-for-large"><img src="images/move_down@2x.png" alt="move down" width="77px"/></div>
			<div class="arrow-movedown show-for-small"><img src="images/move_down@2x.png" alt="move down" width="77px"/></div>
			<div class="header_img_holder"></div>
		</div>

		<div class="small-12 large-12 columns text-center page-content__signup">
			<a href="https://app.wercker.com/users/new" target="_self" class="button radius large secondary">SIGN UP FOR FREE</a>
			<div class="arrow-movedown"><img src="images/move_down@2x.png" alt="move down" width="77px"/></div>
		</div>

	    <div class="small-12 large-12 columns page-content__uspblock_velocity">
		    <div class="row">

		        <div class="small-12 large-6 columns">
		          <h2>Increasing developer velocity</h2>
		          <p>
		            We want you to focus on your code and the application that you are building and not on tedious install processes.
		          </p>
		        </div>
				<div class="small-12 large-5 pull-1 columns velocity_image">
					<img src="images/gauge_pointer.png" class="velocity_pointer" alt="velocity" width="15px"/>
					<img src="images/gauge_meter.png" class="velocity_meter" alt="velocity" width="500px"/>
				</div>
				<div class="small-12 large-12 columns">
 <p>Wercker enables you and your team to increase the velocity of development by testing and deploying your code often. All in a hassle free way.</p>

<p>In fact it takes under a minute to set up your project and use wercker.</p>

				</div>
	        </div>
	    </div>

		<div class="small-12 large-12 columns page-content__uspblock_cloud">
			<div class="row">
				<div class="small-12 large-7 columns">
				</div>
				<div class="small-12 large-5 columns">
					<h2>In the cloud</h2>
					<p>
						Wercker is hosted in the cloud, so there is no need to download any software or buy your own hardware, to set up your own continuous delivery platform.
					</p>
					<p>
						In fact it takes under a minute to set up your project and use wercker.
					</p>
				</div>

			</div>
		</div>

		<div class="small-12 large-12 columns page-content__uspblock_integrated">
			<div class="row">

				<div class="small-12 large-5 columns">
					<h2>Integrated</h2>
					<p>
						wercker integrates with your favorite developer platforms out there such as Github and Bitbucket for your version control.
					</p>
					<p>
						When you are ready to deploy your application, we allow you to do so to cloud platforms like Heroku and Amazon Web Services
					</p>
				</div>
				<div class="small-12 large-7 columns push-1 integration_velocity">
					<img src="images/integration_wercker.png" alt="wercker" width="224px"/>
					<img src="images/integration_plus.png" alt="plus" width="145px"/>
					<img src="images/integration_logos.gif" alt="integration" width="242px"/>
				</div>

			</div>
		</div>
		<div class="small-12 large-6 columns page-content__uspblock_languages">
			<div class="row">
				<div class="small-12 large-12 right columns">
					<h2>Programming environments</h2>
		    	        <p>
			            Wercker offers support for Node.js, Python and Ruby but we're working hard on adding other languages.
						</p>
			     		<p>
			            Wercker also allows you to test your code and interact with popular services such as Redis and MongoDB but also RabbitMQ and of course MySQL and Postgres.
					</p>
				</div>
			</div>
	    </div>

		<div class="small-12 large-6 columns page-content__uspblock_social">
			<div class="row">
				<div class="small-12 large-12 left columns">
					<h2>Social</h2>
					<p>
						 Applications are better developed together and thus wercker incorporates several cooporative features such as an activity feed that showcases who in your team broke the build or deployed what to which environment.
					</p>
					<p>
						You are able to invite collaborators to your projects thus improving cooperation, all leading to better applications.
					</p>
				</div>
			</div>
	    </div>

		<div class="small-12 large-12 columns page-content__uspblock_responsive">
			<div class="row">
				<div class="small-12 columns page-content__uspblock__image">
					<img src="images/responsive.jpg" width="800px" alt="responsive"/>
				</div>
				<div class="small-12 large-4 columns">
					<h2>Support for multiple platforms</h2>
	     	        <p>
	     	          With millions of screens out there, it is important that web applications work across a broad range of devices.
					</p>
			        <p>
			          Wercker works equally well on your phone, tablet or your retina display, allowing you to check on your builds and deploy your applications, even when you're on the go.
					</p>
				</div>
			</div>
		</div>

		<div class="small-12 large-12 columns text-center page-content__signup--bottom">
			<h3>Setup your account and start delivering your applications</h3>
			<a href="https://app.wercker.com/users/new" target="_self" class="button radius large secondary">
				SIGN UP FOR FREE
			</a>
		</div>

		<div class="small-12 large-12 left columns page-content__uspblock_end">
			<h2 class="text-center">Did you know?</h2>
			<div class="row">
				<div class="small-12 large-4 columns">
					<img src="images/heroku_logo.png" width="75px"/>
					<h3>Heroku add-on</h3>
			          <p>
          Wercker has an <a href="https://addons.heroku.com/wercker">add-on</a> available on the Heroku Marketplace. Making <a href="http://devcenter.wercker.com/articles/deployment/heroku.html">deployment</a> to Heroku even more seamless.
					</p>
					<a href="https://addons.heroku.com/wercker" target="_blank">Heroku marketplace</a>
				</div>
				<div class="small-12 large-4 columns">
					<img src="images/devcenter_icon.png" width="75px"/>
					<h3>Devcenter</h3>
          <p>
          Our rich developer center offers guidance and in-depth tutorials on how to get the most out of wercker.
					</p>
					<a href="http://devcenter.wercker.com" target="_blank">Devcenter</a>
				</div>
				<div class="small-12 large-4 columns end">
					<img src="images/openshift_logo.png" width="75px"/>
					<h3>Openshift</h3>
          <p>
          Wercker integrates with Red Hat's OpenShift, a powerful platform-as-a-service to host your applications.
					</p>
					<a href="devcenter.wercker.com/articles/deployment/openshift.html" target="_blank">Openshift</a>
				</div>
			</div>
		</div>

      </div>

      <!-- FOOTER -->
      <div id="root_footer" class="hide-for-small"></div>

      <div class="row footer__bar hide-for-medium-up">
        <ul>
          <li>copyright &copy;2013 wercker</li>
          <li><a href="http://beta.wercker.com/about">about</a></li>
          <li><a href="http://beta.wercker.com/jobs">jobs</a></li>
          <li><a href="http://mailto:pleasemailus@wercker.com">contact&amp;support</a></li>
        </ul>
      </div>

    </div>

    <div id="footer" class="show-for-medium-up">
      <div class="row">
        <div class="large-4 columns footer__block">
          <h5><i class="icon icon-pencil"></i> Blog</h5>
          <hr></hr>
          <p><a href="http://blog.wercker.com/2013/06/18/Spotlight-on-the-wercker-cli.html">Spotlight on the wercker CLI</a></p>
          <p><a href="http://blog.wercker.com/2013/06/18/John-Keyes-blogs-on-wercker.html">John Keyes blogs on wercker</a></p>
          <p><a href="http://blog.wercker.com/2013/06/16/Week-in-Review-June.html">Week in Review for June 16th</a></p>
        </div>
        <div class="large-6 columns footer__block">
          <h5>Join the Conversation</h5>
          <hr></hr>
          <p>
            Feel free to email us with any questions or feedback at <a href="mailto:pleasemailus@wercker.com">pleasemailus@wercker.com</a>.</br>
            Subscribe to the wercker blog <a href="/feed.xml">feed</a></br>
            Follow us on <a href="http://twitter.com/wercker">twitter</a>
          </p>

        </div>
        <div class="large-2 columns">
          <div class="badge">
          <a href="https://app.wercker.com/project/bykey/e21bb28626f9982fea6e48d6e9f7daf2"><img alt="Wercker status" src="https://app.wercker.com/status/e21bb28626f9982fea6e48d6e9f7daf2/m"></a>
          </div>
          <div>
	        <ul class="footer__social">

	        </ul>
          </div>
        </div>
        <div class="large-12 columns footer__bar">
          <ul>
            <li>copyright &copy;2013 wercker</li>
            <li><a href="http://beta.wercker.com/about">about</a></li>
            <li><a href="http://beta.wercker.com/jobs">jobs</a></li>
            <li><a href="http://mailto:pleasemailus@wercker.com">contact &amp; support</a></li>
            <li class="footer__label"><span>find us on: </span></li>
	        <li><a href="https://twitter.com/wercker"><img src="/images/icon_twitter.png" alt="twitter" width="20"/></a></li>
	        <li><a href="https://facebook.com/wercker"><img src="/images/icon_facebook.png" alt="facebook" width="20"/></a></li>
          </ul>
        </div>
      </div>
    </div>


  </div>

</body>
</html>
